<section>
  <h2><%= "#{@person.first_name} #{@person.last_name}" %></h2>
  
  <p>
    <b>Email: </b>
    <%= @person.email %>
  </p>

  <p>
    <b>Phone: </b>
    <%= @person.phone %>
  </p>

</section>